{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <h2 class="font-weight-bold">Active Exams</h2>
    <hr>

    <form>
    <div class="input-group my-3">
      <input class="form-control py-2" type="search" name="search" placeholder="Search...">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary">
            <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </form>
  
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Exam ID</th>
                    <th scope="col">Exam name</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Total questions</th>
                    <th scope="col">Max marks</th>
                    <th scope="col">Passing percentage</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="search-table">
                {% for exam in exams %}
                    <tr>
                        <td>{{ exam.id }}</td>
                        <td>{{ exam }}</td>
                        <td>{{ exam.duration }}</td>
                        <td>{{ exam.get_num_questions }}</td>
                        <td>{{ exam.get_max_marks }}</td>
                        <td>{{ exam.passing_percentage }}%</td>
                        <td>
                            <form method="POST" action="{% url 'students:exam_start' exam.pk %}">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-success px-3 mb-1">Start</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'pagination.html' with page=exams %}

    <script type="text/javascript" src="{% static 'js/keep_params.js' %}"></script>
{% endblock content %}