{% extends "base.html" %}
{% block content %}
    <a href="{% url 'exam_create' %}" class="btn btn-primary">Create Exam</a>
    <hr>
    <h2 class="font-weight-bold">Active Exams</h2>

    {% for exam in active_exams %}
        {% include "core/exam_card.html" %}
    {% empty %}
        <h3 class="text-secondary font-weight-bold">No Exams Active.</h3>
    {% endfor %}
    <hr>

    <h2 class="font-weight-bold">InActive Exams</h2>

    {% for exam in inactive_exams %}
        {% include "core/exam_card.html" %}
    {% empty %}
        <h3 class="text-secondary font-weight-bold">No Exams InActive.</h3>
    {% endfor %}
{% endblock content %}