<div class="card mb-4">
    <div class="card-body">
        <h3 class="card-title">{{ exam.name }}</h3>
        {% if exam.active %}
            <form method="POST" action="{% url 'exam_participate' exam.pk %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-success px-3">Start</button>
            </form>
        {% endif %}
        {% if exam.user == user %}
            <a href="{% url 'exam_detail' exam.pk %}" class="btn btn-primary px-3">View</a>
        {% endif %}
    </div>
    <div class="card-footer">
        {{ exam.question_set.all.count }} Question{{ exam.question_set.all.count|pluralize }}
    </div>
</div>