{% extends "base.html" %}
{% block content %}
    <h1 class="font-weight-bold">{{ exam.name }}</h1>
    <hr>
    <a href="{% url 'exam_edit' exam.pk %}" class="btn btn-primary mb-4">Edit Exam</a>
    <a href="{% url 'question_create' exam.pk %}" class="btn btn-primary mb-4">Add Question</a>

    {% for question in exam.question_set.all %}
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">{{ forloop.counter }}. {{ question.question }}</h4>
                <ul class="list-group mb-4">
                    <li class="list-group-item"><b>A)</b> {{ question.option_A }}</li>
                    <li class="list-group-item"><b>B)</b> {{ question.option_B }}</li>
                    <li class="list-group-item"><b>C)</b> {{ question.option_C }}</li>
                    <li class="list-group-item"><b>D)</b> {{ question.option_D }}</li>
                </ul>
                <a href="{% url 'question_edit' question.pk %}">Edit question</a>
            </div>
            <div class="card-footer">
                <p class="card-text">Correct: {{ question.correct_answer }}</p>
            </div>
        </div>
    {% empty %}
        <h2 class="text-secondary font-weight-bold">No question added yet.</h2>
    {% endfor %}
{% endblock content %}