{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1 class="font-weight-bold">{{ exam.name }}</h1>
    <hr>
    <a href="{% url 'exams_list' %}" class="btn btn-secondary mb-1">Back</a>
    <a href="{% url 'exam_edit' exam.pk %}" class="btn btn-info mb-1">Edit Exam</a>
    <a href="{% url 'question_create' exam.pk %}" class="btn btn-success mb-1">Add Question</a>

    <div class="form-group mt-4">
        <label for="search-input">Search</label>
        <input type="text" id="search-input" class="form-control" placeholder="Search..." autofocus>
    </div>
    <p class="text-secondary">
        {{ questions|length }} Entr{{ questions|length|pluralize:"y,ies" }} total
    </p>
    <div class="table-responsive">
        <table class="table table-bordered table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Question</th>
                    <th scope="col">Option A</th>
                    <th scope="col">Option B</th>
                    <th scope="col">Option C</th>
                    <th scope="col">Option D</th>
                    <th scope="col">Correct option</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="search-table">
                {% for question in questions %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ question }}</td>
                        <td>{{ question.option_A }}</td>
                        <td>{{ question.option_B }}</td>
                        <td>{{ question.option_C }}</td>
                        <td>{{ question.option_D }}</td>
                        <td>{{ question.correct_answer }}</td>
                        <td><a href="{% url 'question_edit' question.pk %}" class="btn btn-success px-3">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static 'js/search_table.js' %}"></script>
{% endblock content %}