{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card mx-auto max-width-650">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 pb-2">Edit Exam</legend>
                    {{ form|crispy }}
                </fieldset>
                <button class="btn btn-success btn-block mb-2" type="submit"><i class="fas fa-save"></i> Save</button>
            </form>
            <form method="POST" action="{% url 'exam_delete' exam_pk %}">
                {% csrf_token %}
                <button class="btn btn-danger btn-block mb-2" type="submit"><i class="fas fa-trash-alt"></i> Delete Exam</button>
            </form>
            <a href="{% url 'exam_detail' exam_pk %}" class="btn btn-secondary btn-block"><i class="fas fa-ban"></i> Cancel</a>
        </div>
    </div>
{% endblock content %}