{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 pb-2">Create Exam</legend>
                    {{ form|crispy }}
                </fieldset>
                <button class="btn btn-primary btn-block mb-2" type="submit">Create</button>
            </form>
            <a href="{% url 'exams_list' %}" class="btn btn-secondary btn-block">Cancel</a>
        </div>
    </div>
{% endblock content %}