{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card mx-auto max-width-650">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 pb-2">Login</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign In</button>
                    <small class="text-muted mt-1">
                        <a href="{% url 'password_reset' %}">Forgot Password?</a>
                    </small>
                </div>
            </form>
            <form method="POST" action="{% url 'users:demo_login' %}">
                {% csrf_token %}
                <button class="btn btn-block btn-dark">Demo login</button>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Need an account?
                    <a class="ml-2" href="{% url 'users:register' %}">Sign Up Now</a>
                </small>
            </div>
        </div>
    </div>
{% endblock content %}