{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card mx-auto max-width-650">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 pb-2">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-success btn-block" type="submit">Request Password Reset</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}