{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.student %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            Your account is verified
        </div>
    {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Your account is unverified. Create a profile and wait until your teacher accepts it
        </div>
    {% endif %}

    <div class="card mx-auto max-width-650">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 pb-2">Edit Student Profile</legend>
                    {% if user.studentrequest %}
                        <p>Request ID: {{ user.studentrequest.id }}</p>
                    {% endif %}

                    {{ form|crispy }}
                </fieldset>

                {% if not user.student %}
                    <div class="form-group">
                        <button class="btn btn-success btn-block" type="submit">
                            {% if user.studentrequest %}<i class="fas fa-save"></i> Update{% else %}<i class="fas fa-plus"></i> Create{% endif %}
                        </button>
                    </div>
                {% endif %}
            </form>

            {% if user.student %}
                <form method="POST" action="{% url 'users:student_delete' %}">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-block"><i class="fas fa-trash-alt"></i> Delete</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}