{% load my_extras %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top mb-4">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand font-weight-bold" href="#">Online Examination System</a>

        <!-- Toggler Button -->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-links">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbar-links">
            <ul class="navbar-nav  ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                {% if not user.is_authenticated or user|has_group:'student' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'result_all' %}">Results</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if user|has_group:'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Student mass register
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users_list' %}">Users</a>
                        </li>
                    {% endif %}
                    {% if user|has_group:'teacher' or user|has_group:'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'exams_list' %}">Exams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Staff login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Staff register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>